$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


/* Space out content a bit */
body {
    padding-top: 60px; // compensate for header
    padding-bottom: 90px; // compensate for footer
}

/* Helper Classes
-------------------------------------------------- */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pointer {
  cursor: pointer;
}

/* Header
-------------------------------------------------- */

.instruction-header {
    color: white;
}

/* Track-Table
-------------------------------------------------- */
.track {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  .star {
    cursor: pointer;
  }
  .pull-left {
    margin-right: 15px
  }
  .media-object {
    width: 38px;
    height: 38px;
  }
  .star-rating {
    text-align: right;
    font-size: 18px;
    line-height: 38px;
  }
  .control {
    margin-top: 4px;
    &.pause {
      .glyphicon {
        width: 12px;
        height: 12px;
        background-image: url(../images/playing.gif);
      }
    }
    &.play .glyphicon {
      background-image: none;
      &:before { 
        content: "\e072";
      }       
    }

  }
}
// hover state only in no-touch browsers
.no-touch {
  .track {
    .control {
      visibility: hidden;
      &.pause {
        visibility: visible;
      }
      &:hover.pause .glyphicon {
        background-image: none;
        &:before { 
          content: "\e073";
        }       
      }
    }
    &:hover {
      .control {
        visibility: visible;
      }
    }

  }
}
// bigger stars on touch devices
.touch {
  .track {
    .star-rating {
      font-size: 20px;
    }
  }
}
// special styles for smartphones
@media (max-width: $screen-xs-max) {
  .track {
    padding: 15px 0 10px 0;
    .pull-left {
      margin-right: 12px
    }
    .star-rating {
      margin-top: 12px;
      text-align: center;
      line-height: 24px;
    }
  }
}


/* Player
-------------------------------------------------- */

.music-player {
  height: 90px;
  background-color: white;
  border-top: 1px solid #ddd;
  opacity: 0.93;
  .deezer {
    position: absolute;
    right: 2px;
    bottom: 85px;
    width: 57px;
    height: 32px;
    background-image: url(../images/deezer.png);
  }
  .cover {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 66px;
    height: 66px;
  }
  .meta-data {
    padding: 15px 100px;
    text-align: center;
  }
  .volume {
    position: absolute;
    right: 15px;
    top: 37px;
    .glyphicon-volume-off {
      color: red;
    }
  }
  .play, .pause {
    cursor: pointer;
  }
  input[type='range'] {
    width: 40px;
    background: #333333;
    -webkit-appearance: none;
    height: 2px; /* increase height to compensate outline */
    padding: 0;
    vertical-align: super;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #333333;
      width: 10px;
      height: 10px;
      border-radius: 100px;
    }
  }
}
// special styles for smartphones
@media (max-width: $screen-xs-max) {
  .music-player  {
    height: 60px;
    .meta-data {
      width: 100%;
      padding: 10px 10px 0 73px;
      text-align: left;
    }
    .cover {
      position: absolute;
      left: 0;
      top: 0;
      width: 60px;
      height: 60px;
    }
    .controls {
      text-align: right;
      margin-top: 4px;
    }
    .deezer {
      bottom: 55px;
    }
  }
}