<header class="navbar navbar-inverse navbar-fixed-top instruction-header">
  <div class="container">
    <h3 class="instruction">Hinweise</h3>
  </div>
</header>
<div class="container">
  <div class="page-header">
    <h4>Vielen Dank, dass Sie sich die Zeit für die Teilnahme an diesem Web-Experiment nehmen.</h4>
  </div>
  <p>
    Die Bearbeitungszeit beträgt etwa <strong>15 Minuten.</strong><br>
    Ihre Angaben werden anonymisiert und streng vertraulich behandelt.
  </p>

  <p>
    Im weiteren Verlauf des Experiments werden kurze Hinweise zur Bearbeitung gegeben.
    Bitte lesen und befolgen Sie diese sorgfältig. 
  </p>
  <p>
    <strong>Jeder 10. Teilnehmer erhält die Musikstücke, die er während des Experiments auswählt, geschenkt.</strong><br>
    Zur Teilnahme an diesem Gewinnspiel geben Sie bitte am Ende der Umfrage Ihre E-Mail-Adresse an.
  </p>
  <p>
    Verwenden Sie bitte während des Experiments <strong>nicht</strong> die Schaltfläche "Zurück" Ihres Browsers.<br>
    Die Navigation erfolgt nur über die "Weiter"-Schaltflächen unten rechts in den Umfrage-Seiten.
  </p>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h4>Informationen</h4>
      <p>
        Diese Umfrage ist Teil einer wissenschaftlichen Arbeit am Institut für Wirtschaftsinformatik und Neue Medien der Ludwig-Maximilians-Universität München.
      </p>
      <p>
        Bei Interesse an den Ergebnissen dieser Umfrage oder sonstigen Fragen und Anregungen wenden Sie sich gerne jederzeit per <a href="mailto:matt@bwl.lmu.de">E-Mail</a> an uns!
      </p>
    </div>

    <div class="col-md-6">
      <h4>Ansprechpartner</h4>
      <p>
        Christian Weiß: <a href="mailto:weiss.christian@campus.lmu.de">weiss.christian@campus.lmu.de</a><br>
        Christian Matt: <a href="mailto:matt@bwl.lmu.de">matt@bwl.lmu.de</a><br>
        Ludwig-Maximilians-Universität-München<br>
        Institut für Wirtschaftsinformatik und Neue Medien<br>
        Ludwigstraße 28 VG<br>
        80333 München<br>
      </p>
    </div>
  </div>
</div>
<div class="app-footer navbar navbar-fixed-bottom">
  <div class="container">
    <button class="btn btn-primary btn-lg pull-right" id="button-next" role="button">Weiter</button>  
  </div>
</div>
