
<header class="navbar navbar-inverse navbar-fixed-top instruction-header">
  <div class="container">
    <h3 class="instruction">Hinweise</h3>
  </div>
</header>
<div class="container">
  <div id="tracks-region"></div>
</div>
<div id="player-region"></div>
